* {
    padding: 0;
    margin: 0;
  }
  
  #imagesprite {
    height: 500px;
    border: 2px solid black;
  }
  
  h1 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
  }
  
  #image {
    width: 1100px;
    margin: 0 auto;
  }
  
  article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  article > div {
    display: flex;
    flex-basis: 33%;
    height: 150px;
    justify-content: center;
    align-items: center;
  }
  
  #colombia p:first-child {
    text-indent: -9999px;
    background-image: url("../images2/63f6a3d801cae05e26a753cbdc8e2dee.png");
    width: 123px;
    height: 80px;
    background-position: 0 -614px;
  }
  
  #colombia p:last-child {
    text-align: center;
  }