/* * {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  margin: 0auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  flex: 1;
  background-color: aqua;
  padding: 10px;
  margin: 10px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
h2 {
  border-bottom: 1px solid #eee;
  padding: 10px;
}
p {
  padding: 5px;
}
*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
  font-family: "Times New Roman", Times, serif;
}
nav {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px #eee;
  height: 50px;
  transform: translate(0px);
  transition: ease all 0.7s;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  list-style: none;
}
nav ul li a {
  padding: 10px;
  text-decoration: none;
  margin: 4px;
  color: #111;
  text-transform: uppercase;
}

nav ul li a:hover {
  background: crimson;
  transform: scale(1);
  transition: ease all 0.6s;
  color: #fff;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  background: crimson;
  height: 50px;
  width: 90px;
  border: none;
  color: #fff;
  font-size: 16px;
}

#dropdown {
  flex-direction: column;
  position: absolute;
  top: 35px;
  background: #fff;
  height: 140px;
  align-items: baseline;
  justify-content: space-evenly;
  display: none;
  width: 250px;
}
.active {
  display: block !important;
}

.active li a {
  display: block;
  width: 100%;
} */
#templete {
  width: 1200px;
  height: 1000px;
}
